{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
	<h3>Enter a Location:</h3>
	<br>
    <h3>Enter a Location:</h3>
  <div class="container">
   <form method = "POST">
    {{form.as_p}}
    {% csrf_token %}
    <input type="submit" class="btn btn-primary" value="Submit" />
   </form>
      </div>


        <hr>

    </div> <!-- /container -->

</main>

<footer class="container">
    <p>&copy; Aaron Oliver 2023</p>
</footer>

{% endblock %}